.product-listing-container{
    margin-top: 5%;
}
.listing-container{
    padding-top: 4rem;
}
.product-listing-card{
    border:1px  solid #aaa;
    width: fit-content;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}
.product-listing-image{
    width: 200px;
    height: 200px;
}
.product-listing-details-container{
    padding-top: 2rem;
    padding-left: 2rem;
}
.author-name{
    font-size: 1rem;
    padding: 0.5rem 0;
}
.pricing{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-color-bright);
}